@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background: #f9f9f9;
}

h1, h2{
  font-weight: 600;
}

h3{
  font-style: 17px;

}

ul, li ,a ,button,input,textarea{
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  list-style-type: none;
}

::placeholder{
  font-style: 17px;
}

.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
 color: #5a5a5a;
 font-style: 15px;
}
label{
  color: #999;
  font-size: 13px;
}

form,.boxItems{
  border: 1px solid #e6e6e6;
  border-radius: 12px;
  padding: 20px;
  background: #fff;
}

form{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  margin-top: 80px;
  padding: 40px;
}

form span{
  margin-bottom: 20px;
}

form textarea, .accountInfo .right input,form input{
  border: 1px solid #212121;
  border-radius: 6px;
  color: #212121;
  font-size: 15px;
  min-height: 44px;
  padding: 0 20px;
  width: 100%;
  margin-bottom: 30px;
}

.grid3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15px;
}

.link{
    color: #000
}

.container{
  min-width: 95%;
  margin: auto;
}

.button{
  background: #000;
  border: 1px solid #212121;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  font-weight: 400;
  height: 48px;
  left: 1px;
  padding: 15px 28px;
}